body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0b0b0b;
  color: white;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.nav a {
  margin-left: 20px;
  color: #aaa;
  text-decoration: none;
}

.nav a:hover {
  color: #00ffff;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.hero h1 {
  font-size: 3em;
  color: #00ffff;
}

.hero p {
  color: #aaa;
}

/* BUTTONS */
.buttons {
  margin-top: 20px;
}

.primary {
  background: #00ffff;
  color: black;
  padding: 12px 25px;
  border-radius: 8px;
  margin-right: 10px;
}

.secondary {
  border: 1px solid #00ffff;
  padding: 12px 25px;
  border-radius: 8px;
  color: #00ffff;
}

/* GRID */
.grid {
  display: flex;
  gap: 20px;
  padding: 50px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #00ffff55;
}
